@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@300&display=swap');



:root {
  --bg: #242526;
  --bg-indigo: #4b0082;
  --bg-accent: #484a4d;
  --text-color: white;
  --nav-size: 80px;
  --border: 1px solid white;
  --border-radius: 8px;
  --speed: 500ms;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

ul {
  
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

#video1{
  width: 100vw;
}

@media only screen and (max-width: 660px){
  #video1{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    
  }

  .container-1{
    
  }
  .container-2{
    height: 1500px;
    padding: 0 5px;
  }
  .container-3{
    height: 1500px;
    padding: 0 5px;
  }
}


/* nav {
  
  top: 0;
  left: 80%;
  bottom: 0;
  width: 300px;
}

.background {
  
  
}

button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  left: 92%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  
  position: absolute;
  top: 140px;
  width: 230px;
  backdrop-filter: blur(10px);
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-left: 10px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 20px 15px 10px;
  text-align: right;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 1100px){
  button{
    left: 80%;
  }
  ul{
    top: 120px;
  }
} */

.cursor{
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  border: black solid 1px;
  border-radius: 50%;
  z-index: 50;
  transition: width .3s ease, height .3s ease;

}
.active{
  width: 70px;
  height: 70px;  
  background-color: black;  
}





/* IMAGES */





